body {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
}

.list {
    list-style-type: none;
}

#header {
    height: 10%;
    min-height: 60px;
    padding-top: 25px;
    padding-bottom: 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
}

#header p {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 2em;
}

#wave {
    height: 20px;
}

.text {
    display: flex;
    max-width: 800px;
    min-width: 400px;
    margin: 10px 10px 10px 10px;
}

.mind {
    display: block;
    align-items: top;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset, 0 0 1px rgba(0, 0, 0, 0.6);
    text-align: center;
}

.instuction {
    float: right;
    display: block;
    width: 100%;
    background: white;
    margin-bottom: 50px;
}

#file-downloads {
    visibility: hidden;
    background-color: navy;
    color: #ffe;
}

.download {
    display: inline-flex;
    flex-wrap: wrap;
    height: 700px;
    min-height: 500px;
    width: 40%;
    min-width: 500px;
    max-width: 500px;
    margin: 10px 10px 10px 10px;
    background-color: gray;
    /*border-radius: 0px 0px 0px 20px;*/
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset, 0 0 1px rgba(0, 0, 0, 0.6);
}

.download-button {
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 7%;
    background: #2a2929;
}

.download-button label {
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    border: solid 1px white;
    background: #0045ba;
    color: white;
    width: auto;
    padding: 1px 30px 7px 17px;
    transition: 0.9s ease 0.05s;
    text-align: center;
}

.download-button label:hover {
    border: solid 1px black;
    color: #f0efec;
    background: #01338b;
    transform: 4px;
    text-decoration: underline;
}

#download-images {
    display: block;
    justify-items: center;
    background: white;
    width: 100%;
    height: 620px;
    padding: 10px;
    /*
    border-radius: 15px;
    border: solid 5px black;*/
}

#download-images img {
    margin: 1%;
    width: 30.3%;
    height: auto;
}

.download img {
    margin-top: 6px;
    margin-right: 5px;
    height: 15px;
    user-select: none;
}

.onload {
    display: inline-flex;
    position: relative;
    flex-wrap: wrap;
    height: 700px;
    min-height: 500px;
    width: 40%;
    min-width: 500px;
    margin: 10px 10px 10px 10px;
    background-color: gray;
    /*border-radius: 0px 0px 20px 0px;*/
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset, 0 0 1px rgba(0, 0, 0, 0.6);
}

#onload-images {
    display: block;
    background: white;
    width: 100%;
    height: 620px;
    padding: 10px;
    /*
    /* border-radius: 15px;
    border: solid 5px black; */
}

#onload-images img {
    margin: 1%;
    width: 30.3%;
    height: auto;
}

.onload-button-zip {
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 7%;
    background: #2a2929;
}

.onload-button-zip div {
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    border: solid 1px white;
    background: #0045ba;
    color: white;
    width: auto;
    padding: 7px 17px 7px 17px;
    transition: 0.9s ease 0.05s;
    text-align: center;
    margin-right: 5px;
    max-height: 40px;
    max-width: 220px;
}

.onload-button-zip div:hover {
    border: solid 1px black;
    color: #c6c5c1;
    background: #01338b;
    transform: 4px;
}

#main {
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
}

#upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    outline: 2px dashed #5d5d5d;
    outline-offset: -12px;
    background-color: #0045ba;
    font-family: 'Segoe UI';
    color: white;
}

#upload-container img {
    width: 40%;
    margin-bottom: 20px;
    user-select: none;
}

#upload-container label {
    font-weight: bold;
}

#upload-container label:hover {
    cursor: pointer;
    text-decoration: underline;
}

#upload-container div {
    position: relative;
    z-index: 10;
}

#main input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

#upload-container.dragover {
    background-color: #fafafa;
    outline-offset: -17px;
}

#footer {
    display: flex;
    justify-content: flex-end;
    justify-items: center;
    align-items: flex-end;
    min-height: 70px;
    background: black;
    bottom: 0;
    padding: 10px;
}

.integrations {
    display: block;
    justify-items: end;
    align-items: center;
    float: right;
}

.integrations img {
    height: 8vh;
    transition: 0.3s ease 0.1s;
}

.integrations img:hover {
    transform: translate(5px, -5px);
}

.workarea {
    display: flex;
}

#footer img {
    height: 60px;
}

@media screen and (device-width: 1280px) {
    .workarea {
        flex-direction: column;
    }
}

@media screen and (max-width: 1279px) {
    #main {
        flex-direction: column;
        align-items: center;
    }
    .workarea {
        justify-content: center;
    }
    .download {
        width: 45%;
        min-width: 200px;
        margin: 10px 10px 10px 10px;
    }
    .onload {
        min-width: 200px;
        width: 45%;
        margin: 10px 10px 10px 10px;
    }
    .text {
        font-size: 3vh;
    }
    .workarea {}
}